{% load markdownify %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tracker</title>
    </head>
    <body>
        <header>
            <nav class="navbar">
                {%if user.is_authenticated %}
                    <li>
                        <a href="{% url 'home' %}">My Project Lists</a>
                    </li>
                    <li>
                        <a href="{% url 'show_my_tasks' %}">My Task Lists</a>
                    </li>
                    <li>
                        <a href="{% url 'create_project' %}">New Project</a>
                    </li>
                    <li>
                        <a href="{% url 'create_task' %}">New Task</a>
                    </li>
                    {% if user.is_superuser %}
                        <li>
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Sign up now or I will destroy you!</a>
                    </li>
                {% endif %}
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>